:root {
  --bgSecondary: #f9f9f9;
  --blue: #0071bd;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: #fff;
}

.active-link {
  color: #fff;
}

.error-msg {
  color: rgb(255, 52, 52);
}

p.error-msg {
  font-size: 30px;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.container {
  padding: 20px;
  max-width: 1366px;
  margin: auto;
}

.chart-container {
  margin: 0;
  padding: 0;
}

.crypto-card {
  display: flex;
  width: 100%;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 700;
  color: var(--blue);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.stats-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--blue);
}

.coin-desc-link p {
  text-align: justify;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.search-input {
  background-color: rgb(22, 22, 22) !important;
  color: #eee !important;
  border-radius: 6px !important;
}

.stats {
  font-weight: 700;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--blue);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--blue);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.coin-link a {
  color: var(--blue);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: rgba(27, 23, 47, 0.676);
}

.select-element {
  width: 180px;
}
.news-card {
  min-height: 300px !important;
  height: 100%;
}
.news-image-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  position: relative;
  top: -5%;
}
.news-title {
  width: 70%;
  color: #fff !important;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-image-container .news-img {
  max-width: 100px;
  width: 100%;
  min-width: 50px;
  min-height: 50px;
  max-height: 100px;
  height: 100%;
  border-radius: 6px;
}
.news-card p {
  color: #ddd;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-card .ant-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.provider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: -7%;
}
.provider-name {
  color: #ddd;
  margin-left: 10px;
}
.provider-time {
  color: #ddd;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: var(--blue);
}
.chart-title {
  color: var(--blue) !important;
}
.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.show-more {
  margin-top: 0px !important;
}

.exchange-image {
  margin: 0px 10px !important;
}

.search-crypto {
  display: flex;
  align-items: center;
  margin: auto;
  width: 250px;
  height: 100px;
}

.crypto-card-container {
  min-height: 65vh !important;
  margin-top: 16px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.crypto-card {
  min-width: 250px;
}
.crypto-card .crypto-image {
  width: 35px;
}

.select-time-period {
  display: flex;
  align-items: center;
  margin: auto;
  width: 180px;
  height: 100px;
}

.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

ul.crypto-pagination {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 30px auto;
  flex-wrap: wrap;
}

li.page-item {
  width: 35px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  padding-top: 6px;
  background-color: #0b446db4;
  border-radius: 99px;
}
li.page-item:hover {
  background-color: #117ac5a6;
}
li.page-item.disabled {
  pointer-events: none;
  border: 1px solid #0099ff;
  background-color: #117ac5a6;
  color: #bbb;
}

/* Styles overriding */

.ant-card {
  border-radius: 10px;
  height: 100%;
}

.ant-card-hoverable:hover {
  border-color: transparent;
  box-shadow: 0px 0px 15px 8px rgba(165, 165, 165, 0.4);
}

.ant-select-selector {
  border-radius: 6px !important;
  height: 39px !important;
}

.crypto-option {
  background-color: #444 !important;
  color: #eee !important;
}

.ant-select-selection-search-input {
  height: 37px !important;
  outline: none !important;
  width: 157px !important;
}

.ant-table {
  background: rgba(31, 28, 47, 0.468) !important;
  border-radius: 10px;
}

.active-link {
  color: #fff;
}

.ant-table-thead > tr > th {
  background: rgba(44, 41, 57, 0.562) !important;
}

.ant-table-cell-row-hover {
  background: rgba(49, 44, 88, 0.558) !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 34px !important;
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
  .coin-desc-link {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
  .heading {
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .ant-menu {
    position: absolute;
    right: 0px;
  }
}
